<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<main layout:fragment="content">
  <div class="wrapper">
    <div class="wrap">
      <div class="subject">
        <span>회원가입</span>
      </div>
      <form method="post" th:action="@{/member/join}" th:object="${joinForm}">
        <div class="errors" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
        <!--아이디 부분-->
        <div class="id_wrap">
          <div class="id_name" th:text="#{userId}"></div>
          <div class="id_input_box">
            <input class="id_input" type="text" name="userId" th:field="*{userId}">
          </div>
          <div class="idErrors" th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
        </div>
        <!--비밀번호 부분-->
        <div class="pw_wrap">
          <div class="pw_name" th:text="#{userPw}"></div>
          <div class="pw_input_box">
            <input class="pw_input" type="password" name="userPw" th:field="*{userPw}">
          </div>
          <div class="pwErrors" th:each="err : ${#fields.errors('userPw')}" th:text="${err}"></div>
        </div>
        <!--비밀번호 확인 부분-->
        <div class="pwRe_wrap">
          <div class="pwRe_name" th:text="#{userPwRe}"></div>
          <div class="pwRe_input_box">
            <input class="pwRe_input" type="password" name="userPwRe" th:field="*{userPwRe}">
          </div>
          <div class="pwReErrors" th:each="err : ${#fields.errors('userPwRe')}" th:text="${err}"></div>
        </div>
        <!--이름 부분-->
        <div class="nm_wrap">
          <div class="nm_name" th:text="#{userNm}"></div>
          <div class="nm_input_box">
            <input class="nm_input" type="text" name="userNm" th:field="*{userNm}">
          </div>
          <div class="nmErrors" th:each="err : ${#fields.errors('userNm')}" th:text="${err}"></div>
        </div>
        <!--이메일 부분-->
        <div class="email_wrap">
          <div class="email_name" th:text="#{userEmail}"></div>
          <div class="email_input_box">
            <input class="email_input" type="text" name="userEmail" th:field="*{userEmail}">
          </div>
          <div class="emailErrors" th:each="err : ${#fields.errors('userEmail')}" th:text="${err}"></div>
        </div>
        <!--이메일 체크 부분-->
        <div class="email_check_wrap">
          <div class="email_check_name" th:text="#{userEmailCheck}"></div>
          <div class="email_check_input_box">
            <input class="email_check_input" type="text" name="userEmailCheck" th:field="*{userEmailCheck}">
          </div>
          <div class="email_check_button_wrap">
            <input type="button" class="email_check_button" th:value="#{member.btn.emailCheck}" onclick="sendMail(this.form)">
          </div>
          <div class="emailCheckErrors" th:each="err : ${#fields.errors('userEmailCheck')}" th:text="${err}"></div>
        </div>
        <!--휴대전화번호 부분-->
        <div class="phone_wrap">
          <div class="phone_name" th:text="#{userPhone}"></div>
          <div class="phone_input_box">
            <input class="phone_input" type="text" name="userPhone" th:field="*{userPhone}">
          </div>
          <div class="phoneErrors" th:each="err : ${#fields.errors('userPhone')}" th:text="${err}"></div>
        </div>
        <button type="submit" th:text="#{member.btn.join}" onclick="join(this.form)"></button>
      </form>
    </div>
  </div>
</main>
</html>