@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

/* 화면 전체 랩 */
.wrapper {
	width: 100%;
}

/* content 랩 */
.wrap {
	width: 980px;
	margin: auto;
}

/* 페이지 제목 */
.subject {
	width: 50%;
	height: 60px;
	background-color: #0BA252;
	margin-top: 10px;
	text-align: center;
	margin: auto;
	border-radius: 15px;
}

.subject span {
	margin-left: 31px;
	font-size: 40px;
	font-weight: 900;
	color: white;
}

/* 아이디 부분*/
.id_wrap {
	width: 50%;
	margin-top: 20px;
	margin: auto;
	padding-top: 15px;
}

.id_name {
	font-size: 25px;
	font-weight: bold;
	color: #0BA252;
}

.id_input_box {
	border: 1px solid #0BA252;
	height: 31px;
	padding: 10px 14px;
	border-radius: 15px;
}

.id_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
	color: #0BA252;
}

.id_input:focus {
    outline:none;
}

.idErrors {
    color: red;
}

/* 비밀번호 부분*/
.pw_wrap {
	width: 50%;
	margin-top: 20px;
	margin: auto;
	padding-top: 15px;
}

.pw_name {
	font-size: 25px;
	font-weight: bold;
	color: #0BA252;
}

.pw_input_box {
	border: 1px solid #0BA252;
	height: 31px;
	padding: 10px 14px;
	border-radius: 15px;
}

.pw_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
	color: #0BA252;
}

.pw_input:focus {
    outline:none;
}

.pwErrors {
    color: red;
}

/*공통 오류*/
.errors {
    width: 50%;
    margin-top: 20px;
    margin: auto;
    color: red;
}

/* 로그인 버튼 */
.login_button_wrap {
	padding-top: 30px;
	text-align: center;
	margin: auto;
}

.login_button {
	width: 50%;
	height: 60px;
	background-color: #0BA252;
	border: 1px solid #0BA252;
	font-size: 40px;
	font-weight: 900;
	color: white;
    border-radius: 15px;
}

.login_button:hover {
	background-color: white;
	color:#0BA252;
}